.controls {
  border: none;
  border-radius: 5px;
  background-color: bisque;
  font-size: 18px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin-left: 5px;
}
.controls:hover {
  background-color: rgb(252, 186, 87);
}
